{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block content_header %}
    {{ parent() }}
 

{% endblock %}
{% block cards %}
{% include 'admin/user/components/_cards.html.twig' %}
{% endblock %}
{% block table_head %}
    {% if batch_actions|length > 0 %}
        <th class="batch-actions-selector">
            <input type="checkbox" class="form-check-input form-batch-checkbox-all">
        </th>
    {% endif %}
    <th class="text-nowrap" data-column-property-name="name" data-column-sortable="true">
       
            USER
            
       
    </th>
    <th class="text-nowrap" data-column-property-name="roles" data-column-sortable="false">
        ROLE
    </th>
    <th class="text-nowrap text-center" data-column-property-name="active" data-column-sortable="true">
        STATUS
    </th>
    <th class="text-nowrap actions-column text-right">
        <span>Actions</span>
    </th>
{% endblock %}

{% block table_body %}
    {% for entity in entities %}
        <tr data-id="{{ entity.primaryKeyValue }}">
            {% if batch_actions|length > 0 %}
                <td class="batch-actions-selector">
                    <input type="checkbox" class="form-check-input form-batch-checkbox" value="{{ entity.primaryKeyValue }}">
                </td>
            {% endif %}

            {% for field in entity.fields %}
                <td data-label="{{ field.label|trans(domain = 'EasyAdminBundle')|e('html_attr') }}" class="{{ field.cssClass }} text-{{ field.textAlign|default('left') }}">
                    {{ field.formattedValue|raw }}
                </td>
            {% endfor %}
            <td class="actions text-right actions-column">
                {% for action in entity.actions %}
                    {{ include('@EasyAdmin/crud/action.html.twig', {
                        action: action,
                        entity: entity,
                        is_dropdown: false
                    }) }}
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ ea.crud.getFieldAssets('index')|length + (batch_actions|length > 0 ? 1 : 0) + 1 }}" class="no-results">
                {{ 'crud.no_results_found'|trans(domain = 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

