{% extends 'base.html.twig' %}

{% block title %}My Profile - {{ parent() }}{% endblock %}

{% block body %}
<div class="container profile-container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ path('app_user_profile_index') }}" class="list-group-item list-group-item-action active" aria-current="true">
                    Profile Information
                </a>
                <a href="{{ path('app_user_profile_edit') }}" class="list-group-item list-group-item-action">Edit Profile</a>
                <a href="{{ path('app_user_profile_orders') }}" class="list-group-item list-group-item-action">Order History</a>
                <a href="{{ path('profile_wishlist') }}" class="list-group-item list-group-item-action">Wishlist</a> 
                <a href="{{ path('app_logout') }}" class="list-group-item list-group-item-action">Logout</a>
                {# Add more links here for other profile sections like addresses, payment methods etc. #}
            </div>
        </div>
        <div class="col-md-9 profile-box">
            <h2 class="mb-5">My Personal Information</h2>
           
            {% for flash_message in app.flashes('success') %}
                <div class="alert alert-success">{{ flash_message }}</div>
            {% endfor %}

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">First Name</th>
                        <td>{{ user.name | default('Not set') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td>{{ user.lastname | default('Not set') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sex</th>
                        <td>{{ user.sex | default('Not set') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{ user.address | default('Not set') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Birthdate</th>
                        <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : 'Not set' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td>{{ user.phone | default('Not set') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Loyalty Points</th>
                        <td>{{ user.loyaltyPoints | default(0) }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ path('app_user_profile_edit') }}" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}

